<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='container' id='editBody'>
        <h1>Edit Flashcard | <%= flashcard.title %></h1>
        <form action='/flashcards/<%= flashcard._id %>?_method=PUT' method='POST'>
            <div class='row'>
                <div class='label'>Word or Concept</div>
                <input type='text' name='title' value='<%= flashcard.title %>' />
            </div>
            <div class='row'>
                <div class='label'>Definition</div>
                <input type='text' name='definition' value='<%= flashcard.definition %>' />
            </div>
            <div class='row'>
                <div class='label'>Tags <span>(separated by a comma)</span></div>
                <input type='text' name='tags' value='<%= flashcard.tags %>' />
            </div>
            <div class='row'>
                <div class='label'>References <span>(separated by a comma)</span></div>        
                <% if (urls === 'empty') { %>
                    <textarea rows='20' name='referenceURLs' placeholder='Enter references as urls separated by a comma.'></textarea>
                <% } else { %>
                    <input type='text' name='referenceURLs' value='<%= urls %>' />
                    <!-- <% urls.forEach(url => { %>
                        <input class='referenceInput' type='text' name='referenceURLs' value='<%= url %>' />
                    <% }) %> 
                        <textarea class='referenceInput' rows='20' name='referenceURLs' placeholder='Enter references as urls separated by a comma.'></textarea> -->
                <% } %>
            </div>
            <div id='bottomRow'>
                <input type='submit' value='EDIT Flashcard' />
            </div>
        </form>
    </div>
</body>
<%- include('../partials/footer.ejs') %>