<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Add a new Flashcard</h1>
    <form action='/flashcards/<%= flashcard._id %>?_method=PUT' method='POST'>
        Word or Concept: <input type='text' name='title' value='<%= flashcard.title %>' /><br>
        Definition: <input type='text' name='definition' value='<%= flashcard.definition %>' /><br>
        <!-- References (enter URLs separated by a comma): <input type='text' name='referenceURLs' placeholder='Enter URLs separated by a comma' /><br>
        Tags (separated by a comma): <input type='text' name='tags' placeholder='Enter tag words separated by a comma' /><br> -->
        <input type='submit' value='EDIT Flashcard' />
    </form>
</body>
<%- include('../partials/footer.ejs') %>